openapi: 3.0.0
info:
  title: "GROMACS Tuner API"
  version: "1.2"
  description: "API for submitting and monitoring GROMACS tuning runs."

servers:
  - url: https://gromacs-tuner.dyn.cloud.e-infra.cz/api

security:
  - basicAuth: []

paths:
  /tuner_runs:
    post:
      summary: Submit a `.tpr` file for tuning.
      description: Uploads a `.tpr` file and starts a tuning process.
      security:
        - basicAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The `.tpr` file to be tuned.
                nsteps:
                  type: integer
                  default: 25000
                  minimum: 1
                  description: Number of steps to run in GROMACS mdrun (must be at least 1).
                extra_args:
                  type: string
                  default: ""
                  example: "-plumed plumed.dat"
                  description: |
                    Additional GROMACS mdrun arguments.
                    Shell metacharacters (; & | ` $ ( ) < >) are forbidden.
                    Critical flags (-deffnm, -s, -nsteps, -ntomp, -np, -nb, -pme) cannot be overridden.
      responses:
        "200":
          description: Tuning run successfully started.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponseWithRunID"

  /tuner_runs/{job_id}:
    delete:
      summary: Delete a tuning run.
      security:
        - basicAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Tuning run successfully deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponseWithDeleteInfo"

  /tuner_runs/{job_id}/status:
    get:
      summary: Retrieve the status of a tuning run.
      security:
        - basicAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier of the tuning run.
      responses:
        "200":
          description: Current status of the tuning run.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponseWithStatus"

  /health:
    get:
      summary: Health check.
      responses:
        "200":
          description: API is healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponseWithHealth"

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic

  schemas:
    SuccessResponseWithRunID:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
        message:
          type: string
        error:
          type: object
          nullable: true

    SuccessResponseWithStatus:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
            summary:
              type: object
              additionalProperties:
                type: integer
            trials:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                  np:
                    type: integer
                  ntomp:
                    type: integer
                  nb:
                    type: string
                  pme:
                    type: string
                  performance:
                    type: number
                    nullable: true
            cluster_resources:
              type: string
            error:
              type: string
              nullable: true
        message:
          type: string
        error:
          type: object
          nullable: true

    SuccessResponseWithHealth:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            status:
              type: string
        message:
          type: string
        error:
          type: object
          nullable: true

    SuccessResponseWithDeleteInfo:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            id:
              type: string
            cancelled:
              type: boolean
        message:
          type: string
        error:
          type: object
          nullable: true
